/* ================================================================================= */

	/* algemene CSS */

/* ================================================================================= */

html{
    height:100%;
    width:100%;
}

body{
	font-size:100%;
	color:#000;
	height:100%;
    width:100%;
    font-weight:300;
}

a, a:hover, a:focus, a:visited{
	text-decoration:none;
	outline:none;
	color:#000;
}

a img{
	border:0px;
}

strong{
	font-weight:700;
}

em{
	font-style:italic;
}

h1{	
	font-weight:800;
	margin-bottom:0.5em;
}

h2{
	font-weight:800;
	margin-bottom:0.5em;
}

h3{
}

h4{
}

h5{
}

h6{
}

p{
	margin:0 0 1em 0;
	margin-bottom:0.5em;
}

.col-tight{
	padding:0px;
}


/* ================================================================================= */

	/* Specifieke CSS */

/* ================================================================================= */


/* ================================================================================= */

	/* Override */

/* ================================================================================= */

@media screen and (max-width: 768px) {
	
}
