/* ==== reset ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder {
    opacity: 1 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
    opacity: 1;
}

:-ms-input-placeholder {  
   opacity: 1;
}

/* ==== algemene css ==== */

html{
	min-height: 100%;
    position: relative;
    width: 100%;
	font-size:100%;
}

body{
	font-size:100%;
	font-family: verdana;
}

h1{
	font-size:32px;
	color:#4784d7;
	margin-bottom:0.5em;
}

h2{
}

h3{
}

strong{
	font-weight:700;
}

em{
	font-style: italic;
}

p{
	margin:0 0 1em 0;
}

a{
	color:#4784d7;
	font-weight:700;
}

a:hover{
	color:#315d9a;
	text-decoration:none;
}

.fleft{
	float:left;
}

.fright{
	float:right;
}

.center{
	text-align:center;
}

.error{
	color:#C10101;
}

.blauw{
	color:#4784d7;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* ==== specifieke css ==== */

#logo{
	background-color:#060606;
	min-height:170px;
	position:relative;
	
	
	/* shadow */
	-webkit-box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.6);
	-moz-box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.6);
	box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.6);
}

	#logo img{
		max-width:220px;
		margin-top:0px;
		display:inline-block;
		margin-top:35px;
	}
	
	#logo p{
		margin-top:53px;
		line-height:30px;
		font-size:18px;
	}

#intro{
	padding-top:80px;
	background-image:url("../images/bg_intro.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-color:#060606;
	color:#ffffff;
	font-size:18px;
	line-height:24px;
}

	#intro h1{
		margin-top:110px;
	}

#inhoud{
	background-color:#ffffff;
}

	#inhoud .row{
		margin-top:30px;
	}
	
		#inhoud .row > div{
			background-color:#e2e2e2;
		}
		
			#inhoud .row > div h2{
				color:#4784d7;
				font-size:32px;
				margin:0.5em 0;
				text-align:center;
			}
			
				#inhoud .row > div .item{
					margin-bottom:2em;
					overflow:hidden;
				}
			
					#inhoud .row > div .itemDatum{
						font-size:52px;
						color:#4784d7;
						margin:0 10px 10px 0;
					}
					
					#inhoud .row > div .itemTitel{
						font-size:16px;
						color:#4784d7;
						margin-bottom:0px;
					}
					
					#inhoud .row > div .itemNaam{
						font-size:18px;
						font-weight:700;
						color:#4784d7;

					}
					
					#inhoud .row > div .itemOmschrijving{
						font-size:16px;
						text-align:center;
						line-height:24px;
					}
		
		#inhoud .row > div.alt{
			background-color:#4784d7;
		}
		
			#inhoud .row > div.alt h2{
				color:#ffffff;
			}
			
				#inhoud .row > div.alt .itemDatum{
					color:#ffffff;
				}
				
				#inhoud .row > div.alt .itemTitel{
					color:#ffffff;
				}
				
				#inhoud .row > div.alt .itemNaam{
					color:#ffffff;
				}

#projecten{
	background-color:#ffffff;
}

	#projecten .project{
		margin-top:30px;
		margin-bottom:5px;
	}

		#projecten .projectPeriode{
			font-size:16px;
			color:#4784d7;
			margin-bottom:5px;
		}
		
		#projecten .projectOpdrachtgever{
			font-size:16px;
			color:#4784d7;
			margin-bottom:5px;
		}
		
		#projecten .projectNaam{
			font-size:16px;
			color:#4784d7;
			margin-bottom:5px;
		}
		
		#projecten .projectOmschrijving{
			font-size:16px;
			line-height:24px;
		}

		#projecten .projectExtra{
			display:none;
			font-size:16px;
			line-height:24px;
		}
		
		#projecten .projectMeer{
			font-size:16px;
			line-height:24px;
			color:#4784d7;
			font-weight:700;
			cursor:pointer;
		}
		
		#projecten .projectMeer:hover{
			color:#315d9a;
		}
		
		#projecten .projectMinder{
			font-size:16px;
			line-height:24px;
			display:none;
			color:#4784d7;
			font-weight:700;
			cursor:pointer;
		}
		
		#projecten .projectMinder:hover{
			color:#315d9a;
		}
		
	#projecten .spacer{
		height:80px;
	}
		

#footer{
	background-color:#060606;
	color:ffffff;
}
	#footer p, #footer a{
		color:#ffffff;
		font-size:18px;
		font-weight:400;
		line-height:28px;
		text-align:center;
	}
	
	#footer a:hover{
		color:#315d9a;
	}
	
	#footer p{
		margin-top:100px;
	}

		#footer .btn{
			border-radius:0px;
			margin-top:45px;
			margin-left:10px;
		}
		
		#footer .btn:hover{
			margin-top:43px;
		}

	#footer .copy{
		color:#636262;
		font-size:16px;
	}

@media (max-width: 992px){	
	#inhoud .row > div .itemDatum{
		font-size:40px;
	}
}
	
@media (max-width: 768px){
	#logo p {
		text-align:center;
	}
	
	#intro *{
		text-align:center;
	}
	
	#intro h1 {
		margin-top: 30px;
	}
	
	#intro img{
		display:inline-block;
	}
	
	#footer .copy {
		margin-top: 40px;
	}
	
	#footer .btn{
		margin-top:15px;		
	}
}